body {
    background: url(https://img.freepik.com/premium-vector/white-abstract-background-in-3d-paper-style_23-2148399819.jpg?w=2000);
    background-size: 100%;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/*header algab*/
.header {
    position: sticky;
    top: 0;
    z-index:99999999;
}
#header-right {
    background-image: url(https://visittartu.com/sites/default/files/Delta_ManaKasik.jpg);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
#header-right a {
    float: left;
    color: rgb(39, 38, 38);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
#header-right a:hover {
    background-color: rgb(255, 255, 255);
    color: darkgoldenrod;
}
.pilt {
    width: 90px;
}
/*header lõppeb*/
/*BRONN teksti- STIIL*/
.bronn {
    color: rgb(203, 153, 26);
    -webkit-text-stroke-color: rgb(121, 91, 17);
    -webkit-text-stroke-width: 0.75px;
}
H3 {
    color: rgb(59, 59, 59);
    font-family: 'Times New Roman', Times, serif;
}
p {
    color: rgb(59, 59, 59);
}
/*MUUTUVATE SLAIDIDE STIIL*/
.slides {
    display: none;
}
.pilt1 {
    vertical-align: middle;
    width: 100%;
    height: 580px;
    object-fit: cover;
}
.slideshow {
    max-width: 100%;
    position: relative;
    left: -80px;
    top: 50px;
    margin: auto;
    text-align: center;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-direction: 3s;
    animation-name: fade;
    animation-duration: 3s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* ET SLAID JA FORMS OLEKS KÕRVUTI */
* {box-sizing: border-box;}
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*KONTAKTIDE STIIL*/
.kontakt {
    position: relative;
    margin-top: -575px;
    top: 1000px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 500;
    color: rgb(203, 153, 26);
    -webkit-text-stroke-color: rgb(121, 91, 17);
    -webkit-text-stroke-width: 0.8px;
    display: block;
}
.gmail {
    width: 42px;
    position: relative;
    margin-top: -575px;
    top: 960px;
    left: 125px;
}
.facebook {
    width: 42px;
    position: relative;
    margin-top: -575px;
    top: 960px;
    left: 135px;
}
.telefon {
    position: relative;
    margin-top: -575px;
    top: 950px;
    left: 152px;
    color: rgb(59, 59, 59);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
}
.nimi {
    font-weight: 600;
    color: rgb(59, 59, 59);
}
.kont {
    font-weight: 600;
    color: rgb(59, 59, 59);
}
.kuup {
    font-weight: 600;
    color: rgb(59, 59, 59);
}
.arvv {
    font-weight: 600;
    color: rgb(59, 59, 59);
}
.eri {
    font-weight: 600;
    color: rgb(59, 59, 59);
}
.kuss {
    font-weight: 600;
    color: rgb(59, 59, 59);
}
.muu {
    font-weight: 600;
    color: rgb(59, 59, 59);
}