body {
    background: url(https://img.freepik.com/premium-vector/white-abstract-background-in-3d-paper-style_23-2148399819.jpg?w=2000);
    background-size: 100%;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/*header algab*/
.header {
    position: sticky;
    top: 0;
    z-index: 99999999;
}
.header-right {
    background-image: url(https://visittartu.com/sites/default/files/Delta_ManaKasik.jpg);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.header-right a {
    float: left;
    color: rgb(39, 38, 38);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.header-right a:hover {
    background-color: rgb(255, 255, 255);
    color: darkgoldenrod;
}
img {
    width: 90px;
}
/*header lõppeb*/
/*Menüütabeli stiil*/
table {
    border-spacing: 0 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: auto;
    position: relative;
    top: 35px;
}
th {
    padding: 10px 20px;
    background: rgb(206, 179, 143);
    color: black;
    border-right: 2px solid;
    font-size: 0.9em;
}
th:first-child {
    text-align: left;
}
th:last-child {
    border-right: none;
}
td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: left;
    border-top: 2px solid tan;
    border-bottom: 2px solid tan;
    border-right: 2px solid tan;
}
td:first-child {
    border-left: 2px solid tan;
    border-right: none;
}
td:nth-child(2) {
    text-align: left;
}
/*Menüütabeli stiil lõppeb*/
.name {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: larger;
    position: relative;
    top: 0px;
    left: 400px;
    color: darkgoldenrod;
    display: inline-block;
}
.end {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
    top: 25px;
    left: 1060px;
    display: inline-block;
    text-align: right;
}
.fb {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    position: relative;
    top: 35px;
    left: 610px;
    color: darkgoldenrod;
    padding: 2px;
    display: inline-block;
}
.fb a {
    color: darkgoldenrod;
    font-weight: bold;
}
/*KONTAKTIDE STIIL*/
.kontakt {
    position: relative;
    margin-top: -575px;
    top: 650px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 500;
    color: rgb(203, 153, 26);
    -webkit-text-stroke-color: rgb(121, 91, 17);
    -webkit-text-stroke-width: 0.8px;
    display: block;
}
.gmail {
    width: 42px;
    margin-top: -100px;
    position: relative;
    top: 615px;
    left: 125px;
}
.facebook {
    width: 41px;
    margin-top: -100px;
    position: relative;
    top: 614px;
    left: 135px;
}
.telefon {
    position: relative;
    margin-top: -100px;
    top: 600px;
    left: 152px;
    color: rgb(59, 59, 59);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
}