body {
    background: url(https://img.freepik.com/premium-vector/white-abstract-background-in-3d-paper-style_23-2148399819.jpg?w=2000);
    background-size: 100%;
}
table {
    border-spacing: 0 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: auto;
    position: relative;
    top: 35px;
}
th {
    padding: 10px 20px;
    background: rgb(206, 179, 143);
    color: black;
    border-right: 2px solid;
    font-size: 0.9em;
}
th:first-child {
    text-align: left;
}
th:last-child {
    border-right: none;
}
td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: left;
    border-top: 2px solid tan;
    border-bottom: 2px solid tan;
    border-right: 2px solid tan;
}
td:first-child {
    border-left: 2px solid tan;
    border-right: none;
}
td:nth-child(2) {
    text-align: left;
}
.name {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: larger;
    position: relative;
    top: 0px;
    left: 400px;
    color: darkgoldenrod;
    display: inline-block;
}
.end {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
    top: 15px;
    left: 1055px;
    display: inline-block;
}
.fb {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    position: relative;
    top: 35px;
    left: 610px;
    color: darkgoldenrod;
    padding: 2px;
    display: inline-block;
}
.fb a {
    color: darkgoldenrod;
    font-weight: bold;
}
.header-right {
    background-image: url(https://visittartu.com/sites/default/files/Delta_ManaKasik.jpg);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.header-right a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
.header-right a:hover {
    background-color: rgb(255, 255, 255);
    color: darkgoldenrod;
}
img {
    width: 90px;
}