h1 {
    text-align: center;
    color: rgb(203, 153, 26);
    -webkit-text-stroke-color: rgb(121, 91, 17);
    -webkit-text-stroke-width: 1px;
}
p {
    text-align: center;
    color: rgb(203, 153, 26);
    -webkit-text-stroke-color: rgb(121, 91, 17);
    -webkit-text-stroke-width: 0.5px;
}
body {
    background: url(https://img.freepik.com/premium-vector/white-abstract-background-in-3d-paper-style_23-2148399819.jpg?w=2000);
    background-size: 100%;
}